doctype html
block vars

//- URL の設定
- var url 			= 'http://test.co.jp';
- var lang 			= 'ja';
- var sitename 		= 'サイト名';


html(lang=lang)

	//head elment
	head
	
		//- meta情報
		include /_includes/_meta

		//- CSS読み込み
		include /_includes/_css


	//body elment
	body(class=category, id=id)
	
		#wrapper
		
			//- ヘッダー
			block header
			include /_includes/_header

			//- コンテンツエリア
			.contents
				main.main-contents
					block content

			//- コンテンツの分岐
			if category !== 'top-category'
				//- パンくず
				block topicpath
					ul.bread-nav
						each val, key in topicpathObj
							if val.link
								li: a(href=val.link) #{val.name}
							else
								li #{val.name}

			///contents
			
			//- フッター
			block footer
				include /_includes/_footer
		///wrapper
		
		//- JS読み込み
		include /_includes/_js
